body{
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(43, 226, 104, 0.76);
  
}

li {
    float: left;
}

li a {
    display: block;
    color: purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(:active){
    background-color: rgba(234, 0, 255, 0.945);
}

.active{
    background-color: aquamarine;
}

.p{
    text-align: center;
}

.heading1{
    text-align: center;
}
.Examples {
    border: 5px outset purple;
    background-color: light pink;
    text-align: center;
    margin: 10px, center;

}

.Grep {
    background-color: lightgrey;
    width: 1800px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.config {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;

}

.create {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;
}

.Bash {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;
}

.Git {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;
}

.Git2 {
    border: 5px outset purple;
    background-color: light pink;
    text-align: center;
}

#creation {
        text-align: center;
}

.BSyn {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;
    }

.fact {
    text-align: center;
    color: purple;
}
 .funfact{
    text-align: center;
 }

span.loco {
    color: rgba(7, 143, 25, 0.89);
}

span.color {
color:blueviolet;
}

span.Basic {
    color: green;
}

span.note {
    color:blueviolet;
}

span.title {
    color: green;
}

span.gc {
    color:green;
}

span.file {
    color: green;
    text-align: center;
}

span.cmdb {
    color: green;
}

span.scb {
    color: green;
}

span.intro {
    color: green;
}

span.ignore {
    color: green;
}

span.invert {
    color: green;
}

span.count {
    color: green;
}

span.matches {
    color: green;
}

span.reg {
    color: green;
}

span.line {
    color: green;
}

span.ext {
    color: green;
}

span.fixed {
    color: green;
}

span.perl {
    color: green;
}

.flex {
    border-radius: 500px;

}

.Np2 {
    text-align: center;
    margin: 40px 30px;
    padding: 35px;
    height: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: 200px;
    border: solid blueviolet 10px ;
    
}

span.CNp2{
    background-color: rgba(162, 230, 99, 0.836);
    color: rgba(170, 16, 137, 0.89);
    padding-top: 15px;
}

.login {
    display: flex;
    flex-direction: column;
}

.label1 {
  display: flex;
  flex-direction: column; 
  width: 500px; 
  padding-left: 520px;
  
}

.label2 {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 520px;
    
}

.label3 {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 520px;
}

.label4 {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 520px;
}

.label5 {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 520px;
}

.choice{
    display: flex;
        flex-direction: column;
        width: 500px;
        padding-left: 520px;
}

.form-heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 520px;
    color: rgba(50, 97, 12, 0.925);
}

.share-pass {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 520px;
    color: red;
    }

#btn {
    display: flex;
        flex-direction: column;
        background-color: lightgreen;
        color: blueviolet;
        border-color: green;
        border-radius: 50px 50px;
        width: 100px;
        height: 70px;
        padding: 10px 30px 10px 20px  ;
        margin-top: 15px;
        margin-left: 750px;
        justify-content: space-around;
    }

    .CB{
        text-align: center;
        display: flex;
            flex-direction: column;
            width: 500px;
            padding-left: 235px;
    }

    .welcome{
    text-align: center;
        display: flex;
        flex-direction: column;
        width: 500px;
        padding-left: 520px;
        color: blueviolet;
    }