.Examples {
    border: 5px outset purple;
    background-color: light pink;
    text-align: center;
    margin: 10px, center;

}

.Grep {
    background-color: lightgrey;
    width: 1800px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.config {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;

}

.create {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;
}

.Bash {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;
}

.Git {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;
}

.Git2 {
    border: 5px outset purple;
    background-color: light pink;
    text-align: center;
}

#creation {
        text-align: center;
}

.BSyn {
    border: 5px outset purple;
        background-color: light pink;
        text-align: center;
    }
span.color {
color:blueviolet;
}

span.Basic {
    color: green;
}

span.note {
    color:blueviolet;
}

span.title {
    color: green;
}

span.gc {
    color:green;
}

span.file {
    color: green;
    text-align: center;
}

span.cmdb {
    color: green;
}

span.scb {
    color: green;
}

span.intro {
    color: green;
}

span.ignore {
    color: green;
}

span.invert {
    color: green;
}

span.count {
    color: green;
}

span.matches {
    color: green;
}

span.reg {
    color: green;
}

span.line {
    color: green;
}

span.ext {
    color: green;
}

span.fixed {
    color: green;
}

span.perl {
    color: green;
}

.flex {
    border-radius: 500px;

}

